{% extends 'blog/base.html' %}

{% block conteudo %}
    <!-- Conteúdo das postagens -->
{% for dado in dados %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a href="{% url 'post_blog' dado.id %}">
                    <h2 class="post-title">{{ dado.titulo }}</h2>
                    <h3 class="post-subtitle">{{ dado.texto | slice:":255" }}</h3>
                </a>
                <p class="post-meta">Postado por <a href="#">{{ dado.autor }}</a> em {{ dado.data_publicacao }}</p>
            </div>
        </div>
    </div>
</div>
{% empty %}
<div class="container">
    <h1>Sem conteúdo para mostrar</h1>
</div>
{% endfor %}

    <!-- Paginador -->
    <div class="clearfix">
        <a class="btn btn-primary float-right" href="{% url 'all_post_blog' %}">Postagens anteriores &rarr;</a>
    </div>

{% endblock %}
